@font-face {
	font-family: 'Syncopate-Regular';
	src: url('./Fonts/Syncopate/Syncopate-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Syncopate-Regular';

	background: #0f2027; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid {
    /* position: relative; */
	height: 100%;
	min-height: 100vh;
	background-color: transparent;
	background-image: linear-gradient(
			0deg,
			transparent 24%,
			rgba(255, 255, 255, 0.05) 25%,
			rgba(255, 255, 255, 0.05) 26%,
			transparent 27%,
			transparent 74%,
			rgba(255, 255, 255, 0.05) 75%,
			rgba(255, 255, 255, 0.05) 76%,
			transparent 77%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 24%,
			rgba(255, 255, 255, 0.05) 25%,
			rgba(255, 255, 255, 0.05) 26%,
			transparent 27%,
			transparent 74%,
			rgba(255, 255, 255, 0.05) 75%,
			rgba(255, 255, 255, 0.05) 76%,
			transparent 77%,
			transparent
		);
	background-size: 50px 50px;
}


p {
    font-size: 1rem;
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: square;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 601px) {
}

@media only screen and (min-width: 750px) {
}

@media only screen and (min-width: 850px) {
}
