.address_container {
	color: white;
    width: 50%;
    margin: 2.5% 0 0 25%;
    padding: 20px;
	background-color: rgb(35, 35, 35);
}

.address_canvas {
    margin: 0 0 0 50%;
    transform: translate(-50%, 0);
}
.address_note {
    text-align: center;
    margin: 10px 0 0 0;
}