.main_title {
	width: 100%;
	font-weight: bold;
	color: #cef0ff;
	vertical-align: middle;
	text-shadow: 2px 2px #0f2027, 2.1px 2.1px rgb(140, 140, 255),
		4px 4px #0f2027, 4.1px 4.1px rgb(140, 140, 255);
	font-size: 2rem;
	font-style: italic;
	text-align: center;
}

.current_balance {
	color: white;
}

.graph {
	height: auto;
	width: 65%;
	margin: 20px 0 0 17.5%;
	background-color: rgb(35, 35, 35);
	color: white;
	padding: 20px;
}

.sub_title {
	display: inline;
	border-bottom: 1px solid white;
}

.eth,
.btc {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: auto;
	padding: 20px;
	margin: 2.5%;
	background-color: rgb(35, 35, 35);
}

.eth {
	margin-left: 17.5%;
}

.usd_balance {
	font-size: 1.5rem;
	color: green;
}

.account_number {
	color: rgb(129, 160, 255);
	word-break: break-all;
	font-size: 0.85rem;

}

@media only screen and (max-width: 600px) {
	.main_title {
		font-size: 1.25rem;
	
	}
	.sub_title {
		margin: 0 0 0 10px;
	}
	.eth,
	.btc {
		width: 95%;
		margin: 10px 0 10px 2.5%;
	}

	.graph {
		width: 95%;
		height: auto;
		padding: 5px 0 0 0;
		margin: 0 0 0 2.5%;
	}
}
