.about {
    color: white;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: 65%;
    margin: 0 0 0 17.5%;
    background-color: rgb(35, 35, 35);
    padding: 20px;
    height: auto;
}

.sub_title {
    display: inline;
    border-bottom: 1px solid white;
}

#github_link {
    color: rgb(129, 160, 255);
    font-style: italic;
}