.RecentTrans {
    color: white;
    height: auto;
    min-height: 200px;
    width: 65%;
    margin: 0 0 2.5% 17.5%;
    background-color: rgb(35, 35, 35);
    padding: 20px;
}

.sub_title {
    display: inline;
    border-bottom: 1px solid white;
}